<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MediSyncBuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MediSync.Properties.Settings>
            <setting name="AXConnString" serializeAs="String">
                <value>Data Source=gu-sxd7e-025\AX;Initial Catalog=MicrosoftDynamicsAX;Persist Security Info=True;User ID=gu51;Password=WeberVPN</value>
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value>gu51</value>
            </setting>
            <setting name="DbPass" serializeAs="String">
                <value>WeberVPN</value>
            </setting>
            <setting name="CrmProdUrl" serializeAs="String">
                <value>http://gu-sxd7e-019/Medistim/</value>
            </setting>
            <setting name="DefaultCrmServerChoice" serializeAs="String">
                <value />
            </setting>
            <setting name="GetJobListQuery" serializeAs="String">
                <value>					SELECT 
					   [msus_medisyncId]
					  ,[CreatedOn]
					  ,[CreatedBy]
					  ,[ModifiedOn]
					  ,[ModifiedBy]
					  ,[CreatedOnBehalfBy]
					  ,[ModifiedOnBehalfBy]
					  ,[OwnerId]
					  ,[OwnerIdType]
					  ,[OwningBusinessUnit]
					  ,[statecode]
					  ,[statuscode]
					  ,[VersionNumber]
					  ,[ImportSequenceNumber]
					  ,[OverriddenCreatedOn]
					  ,[TimeZoneRuleVersionNumber]
					  ,[UTCConversionTimeZoneCode]
					  ,[msus_name]
					  ,[msus_Enabled]
					  ,[msus_Interval]
					  ,[msus_Lastrun]
					  ,[msus_LastRunSuccessful]
					  ,[msus_Priority]
					  ,[msus_Runasuser]
					  ,[msus_Runasuserpassword]
					  ,[new_Targetentity]
                                                                                  ,[msus_target_entity_alias]
					  ,[new_AXjoincolumn]
					  ,[new_CRMjoincolumn]
					  ,[new_AXTargetCols]
					  ,[new_CRMTargetCols]
					  ,[new_CRMJoinTable]
					  ,[new_AXJoinTable]
					  ,[msus_lastrun_utc]
                      ,[msus_FromClause]
					  ,[msus_axdatecolumn]
					FROM [msus_medisyncBase]</value>
            </setting>
            <setting name="CRMConnString" serializeAs="String">
                <value>Data Source=gu-sxd7e-025\CRM;Initial Catalog=Medistim_MSCRM;Persist Security Info=True;User ID=gu51;Password=WeberVPN</value>
            </setting>
            <setting name="CrmDbQualifyingPrefix" serializeAs="String">
                <value>[CRM].Medistim_MSCRM.[dbo]</value>
            </setting>
        </MediSync.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>